{% extends "auth_base.html" %}
{% load i18n %}
{% load account socialaccount %}


{% block content %}

{% get_providers as socialaccount_providers %}

{% comment %} 소셜 로그인 버튼 {% endcomment %}
{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %} <a href="{{ signup_url }}">회원가입</a>{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% comment %} 소셜 로그인 제공 안 하면 {% endcomment %}
{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

{% comment %} 일반 로그인 {% endcomment %}
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}



{% comment %} 수정 코드 {% endcomment %}
{% block style %}
<style>
  div {
    margin-top: 2rem;
  }
  .form-outline {
    border-bottom: 1px solid; !important
  }
  .fa-kakao {
    color: #000000;
  }
  .fa-naver {
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
  }
  .fa-naver:before {
    content: 'N';
  }
  #local-login-btn {
    border-radius: 30% 5%;
  }
</style>
{% endblock style %}



{% block content %}
<div class="container">
  {% include 'core/components/back-button.html' %}
  <div class="mb-8">
    <h1>Welcome!</h1>
    <p class="fs-3">이메일과 비밀번호를 입력하여 로그인해주세요</p>
  </div>
  
  <!-- form -->
  <form class="login" method="POST" action="{% url 'account_login' %}">
    <div class="form-outline">
        <input id="name" class="input-form form-control"/>
        <label class="form-label" for="name">Username</label>
    </div>
    <div class="form-outline">

        <input id="pw" class="input-form form-control"/>
        <label class="form-label" for="pw">Password</label>
    </div>
  </form>
  
  <!-- social login -->
  <div class="d-flex justify-content-evenly">
    <a class="btn text-white btn-lg btn-floating" style="background-color: #FEE500;" href="/accounts/kakao/login/" role="button">
      <i class="fas fa-comment fa-kakao"></i>
    </a>
    <a class="btn text-white btn-lg btn-floating" style="background-color: #03C75A;" href="/accounts/naver/login/" role="button">
      <i class="fas fa-naver"></i>
    </a>
    <a class="btn text-white btn-lg btn-floating" style="background-color: #111;" href="/accounts/google/login/" role="button">
      <i class="fab fa-apple"></i>
    </a>
  </div>

  <!-- local login -->
  <div class="d-flex justify-content-center">
    <button id="local-login-btn" class="btn text-white btn-lg fs-5 px-5" style="background-color: #ac2bac;" role="button">
      login
    </button>
  </div>

</div>
{% endblock content %}