
{% extends "account/base.html" %}
<!--{% load i18n %}-->

<!--{% block head_title %}{% trans "Signup" %}{% endblock %}-->
{% block style %}
<style>
  div {
    margin-top: 2rem;
  }
  .form-outline {
    border-bottom: 1px solid; !important
  }
  .fa-kakao {
    color: #000000;
  }
  .fa-naver {
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
  }
  .fa-naver:before {
    content: 'N';
  }
  #local-login-btn {
    border-radius: 30% 5%;
  }
</style>
{% endblock style %}
{% block content %}
<!--h1>{% trans "Sign Up" %}</h1-->
<div class="mb-8">
  <h2>Create Account</h1>
</div>
<!--p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p-->

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <!--{{ form.as_p }}-->
  {{ form.non_field_errors | safe }}
  <input type="hidden" name="remember" value="true" />
  
  
  
  <div>
    
    <div class="form-outline">Email: 
      {{ form.email.errors | safe }}
      <label for="email" class="sr-only">User email</label>
      {{ form.email }}
    </div>
    <div class="form-outline">Password: 
      {{ form.password1.errors | safe }}
      <label for="id_password1" class="sr-only">Password</label>
      {{ form.password1 }}
    </div>
    <div class="form-outline">Password: 
      {{ form.password2.errors | safe }}
      <label for="password2" class="sr-only">Password</label>
      {{ form.password2 }}
    </div>
  </div>


  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button id="local-login-btn" class="btn text-white btn-lg fs-5 px-5" type="submit" style="background-color: #ac2bac;"><!--{% trans "Sign Up" %}--> Sign Up</button>
</form>

{% endblock %}
