{% extends "base.html" %}
{% load static %}
{% block script %}

<script>
  let status = 'off_battle'
  
  var config = {
    type: Phaser.AUTO,
    width: 300,
    height: 600,
    physics: {
        default: 'arcade',
        arcade: {
            debug: false,
            gravity: {
                y: 0
            }
        }
    },
    backgroundColor: '#2d2d2d',
    scene: {
      preload: preload,
      create: create,
      update:update,
    },
    scale: {
        mode: Phaser.Scale.ScaleModes.FIT
    }
  }
  let tween
  var game =  new Phaser.Game(config)
      let action_selector
      let skill_selector

      function preload(){
        this.load.image('face', "{% static '/images/char_back.jpg'%}")
        this.load.image('attk_button', "{% static '/images/attack.png'%}")
        this.load.image('def_button', "{% static '/images/defence.png'%}")
        this.load.image('enemy', "{% static '/images/mob.png'%}")
        this.load.image('background', "{% static '/images/background.jpg'%}")
        this.load.image('hp', "{% static '/images/hp.png'%}")
        this.load.image('skill1', "{% static '/images/thunder.png'%}")
        this.load.image('skill2', "{% static '/images/flash.png'%}")
        this.load.image('skill3', "{% static '/images/heart.png'%}")


        //health Bar image
        this.load.image('left-cap', "{% static '/health/barHorizontal_green_left.png'%}")
        this.load.image('middle', "{% static '/health/barHorizontal_green_mid.png'%}")
        this.load.image('right-cap', "{% static '/health/barHorizontal_green_right.png'%}")

        this.load.image('left-cap-shadow', "{% static '/health/barHorizontal_shadow_left.png'%}")
        this.load.image('middle-shadow', "{% static '/health/barHorizontal_shadow_mid.png'%}")
        this.load.image('right-cap-shadow', "{% static '/health/barHorizontal_shadow_right.png'%}")
        
        

      }
      let mob
      let mob_move = false
      function create(){

        this.add.image(150,300,'background')
        //health bar create
        let y = 100
        let x = 160
       

        // background shadow
        let leftShadowCap = this.add.image(x, y, 'left-cap-shadow')
          .setOrigin(0, 0.4)

        let middleShaddowCap = this.add.image(leftShadowCap.x + leftShadowCap.width, y, 'middle-shadow')
          .setOrigin(0, 0.4)
        middleShaddowCap.displayWidth = 120

        this.add.image(middleShaddowCap.x + middleShaddowCap.displayWidth, y, 'right-cap-shadow')
          .setOrigin(0, 0.4)
        
          // health bar
        this.leftCap = this.add.image(x, y, 'left-cap')
        .setOrigin(0, 0.4)

        this.middle = this.add.image(this.leftCap.x + this.leftCap.width, y, 'middle')
          .setOrigin(0, 0.4)
        this.middle.displayWidth = 120
        this.rightCap = this.add.image(this.middle.x + this.middle.displayWidth, y, 'right-cap')
          .setOrigin(0, 0.4)


        //hp text
        var hp_text = this.add.text(230, 72, '100/100', { fontFamily: 'Arial', fontSize: 14, color: '#00ff00' });
        let current_hp = 100
        
        this.add.image(80,400,'face').setScale(0.08).setInteractive({cursor:'pointer'})
        mob = this.add.sprite(240, 50, 'enemy').setScale(0.1);
        //this.add.image(240,50,'enemy').setScale(0.1).setInteractive({cursor:'pointer'})
        //this.add.image(250,80,'hp').setScale(0.07).setInteractive({cursor:'pointer'})
        
        skill_one = this.add.image(80,500, 'skill1').setScale(0.5).setInteractive();
        skill_one.visible =false

        skill_two = this.add.image(160,500, 'skill2').setScale(0.5).setInteractive();
        skill_two.visible =false

        skill_three = this.add.image(240,500, 'skill3').setScale(0.5).setInteractive();
        skill_three.visible =false
        //MOUSE INTERACTIONS
  
        //click colour tiles
        action_selector = this.add.group()
        skill_selector = this.add.group()

        btn_attack = this.add.sprite(80,500,'attk_button').setScale(0.7).setInteractive({cursor:'pointer'})
        btn_deffence = this.add.sprite(200,500,'def_button').setScale(0.7).setInteractive({cursor:'pointer'})
        let back_button = this.add.text(150, 550, 'back').setOrigin(0.5)
        .setPadding(10)
        .setStyle({ backgroundColor: '#111' })
        .setInteractive({ useHandCursor: true })
        .on('pointerdown', () => back())
        .on('pointerover', () => back_button.setStyle({ fill: '#f39c12' }))
        .on('pointerout', () => back_button.setStyle({ fill: '#FFF' }))
        back_button.visible = false
        
        function use_skill(){
          btn_attack.visible = true 
          btn_deffence.visible = true 
          skill_one.visible = false
          skill_two.visible = false
          skill_three.visible = false
          back_button.visible = false
        }

        function back(){
          btn_attack.visible = true 
          btn_deffence.visible = true 
          skill_one.visible = false
          skill_two.visible = false
          skill_three.visible = false
          back_button.visible = false
        }

        function action_attack(){
          btn_attack.visible = false 
          btn_deffence.visible = false 
          skill_one.visible = true
          skill_two.visible = true
          skill_three.visible = true
          back_button.visible = true
          
        }
        
       
        //tween to move image
        tween = this.tweens.add({
          targets: mob,
          x: 250,
          y: 40,
          ease: 'Power1',
          duration: 50,
          yoyo: true,
          repeat: 3,
          onStart: function () {},
          onComplete: function () {},
          onYoyo: function () {},
          onRepeat: function () {},
        });
        btn_attack.on('pointerdown', function (pointer) { 
          action_attack()
          
          });

        btn_deffence.on('pointerdown', function (pointer) { 
          action_attack()
        });

        skill_one.on('pointerdown', function (pointer) { 
          //  You can set the text proprety directly like this:
          //hp_text.text = '90/100';
          current_hp -= 10;
          //  Or use the setText method if you need method chaining:
          hp_text.setText(current_hp+'/100');
          use_skill()
          tween.play();
        });

        skill_two.on('pointerdown', function (pointer) { 
          use_skill()
        });
        skill_three.on('pointerdown', function (pointer) { 
          use_skill()
        });

        this.input.setTopOnly(true)

        this.input.on('gameobjectover', function(pointer, gameObject){
          var link = gameObject.texture.key
            if (String(link)=='toggle'){
              gameObject.setTint(0xe0e0e0)
            }
            else {
              gameObject.setTint(0x50bcdf)
            }
        })

        this.input.on('gameobjectout', function(pointer, gameObject){
            gameObject.clearTint()
        })

        this.input.on('gameobjectdown', function(pointer, gameObject){
            var link = gameObject.texture.key
            if (String(link) == 'setting'){

            }
            else if(String(link) == 'toggle'){
              this.toggleSound()
            }
            //else{
            //  link = 'http://localhost:8000/core/battle/' + String(link)
            //  location.replace(link)
            //}
            
        })

        function toggleSound(){
          let isMute = !this.checkmark.visible

          isMute = !isMute

          this.scene.sound.mute = isMute
          this.checkmark.visible = !isMute
        }
        
      }
      
      
        
      

      function update(){
        
      }
      
      
      
</script>
{% endblock script %}