{% extends "base.html" %} 
{% load static %}
{% block script %} 

<script>
var config = {
  type: Phaser.WEBGL,
  width: 800,
  height: 600,
  parent: 'phaser-example',
  scene: {
      preload: preload,
      create: create
  }
};

var game = new Phaser.Game(config);

function preload ()
{
  this.load.spritesheet('night', "{% static 'assets/night/NightBorne.png' %}", { frameWidth: 80, frameHeight: 80 });
  //this.load.spritesheet('attack_1', "{% static 'assets/wizard/Attack1.png' %}", { frameWidth: 231, frameHeight: 190 });
  //this.load.spritesheet('idle', "{% static 'assets/wizard/Idle.png' %}", { frameWidth: 231, frameHeight: 190 });
}

function create ()
{
  


  this.anims.create({
    key: 'run',
    frames: this.anims.generateFrameNumbers('night', { frames: [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ] }),
    frameRate: 8,
    repeat: -1
  });

  this.anims.create({
    key: 'attack',
    frames: this.anims.generateFrameNumbers('night', { frames: [ 46,47,48,49,50,51,52,53,54,55,56,57 ] }),
    frameRate: 8,
    repeat: -1
  });


  const night = this.add.sprite(300, 370, 'night');
  night.setScale(5);
  night.play('run');
  night.play('attack');
}

</script>


{% endblock script %}
