{% extends "base.html" %}
{%load static%}
{% block script %}
<script>
  function preload ()
  {
      //bgs
      this.load.image('bg', "{% static '/resource/ui/background.jpg'%}")
      this.load.image('bg1', "{% static '/resource/ui//bg1.png'%}")
  
      //player_head
      this.load.image('hair', "http://localhost:8000/media/images/0HAIR.png")
      this.load.image('face', "http://localhost:8000/media/images/0HEAD_EYES_OPEN.png")
      this.load.image('helmet', "http://localhost:8000/media/images/1HELMET.png")
      
      //player_top
      this.load.image('arm_a1', "http://localhost:8000/media/images/1ARM_A1.png")
      this.load.image('arm_a2', "http://localhost:8000/media/images/1ARM_A2.png")
      this.load.image('arm_a3', "http://localhost:8000/media/images/1ARM_A3.png")
      this.load.image('arm_b1', "http://localhost:8000/media/images/1ARM_B1.png")
      this.load.image('arm_b2', "http://localhost:8000/media/images/1ARM_B2.png")
      this.load.image('arm_b3b', "http://localhost:8000/media/images/1ARM_B3B.png")
      this.load.image('arm_b3f', "http://localhost:8000/media/images/1ARM_B3F.png")
      this.load.image('shoulder_a', "http://localhost:8000/media/images/1SHOULDER_A.png")
      this.load.image('shoulder_b', "http://localhost:8000/media/images/1SHOULDER_B.png")
      this.load.image('body', "http://localhost:8000/media/images/1BODY.png")
      this.load.image('hip', "http://localhost:8000/media/images/1HIP.png")
      
      //player_bottom
      this.load.image('leg_a1', "http://localhost:8000/media/images/1LEG A1.png")
      this.load.image('leg_a2', "http://localhost:8000/media/images/1LEG A2.png")
      this.load.image('leg_b1', "http://localhost:8000/media/images/1LEG B1.png")
      this.load.image('leg_b2', "http://localhost:8000/media/images/1LEG B2.png")

      //player_shoes
      this.load.image('leg_a3', "http://localhost:8000/media/images/1LEG A3.png")
      this.load.image('leg_b3', "http://localhost:8000/media/images/1LEG B3.png")
      
      //player_weapon
      this.load.image('weapon', "http://localhost:8000/media/images/1WEAPON.png")


      //player_shield
      this.load.image('shield', "http://localhost:8000/media/images/1SHIELD.png")

  

      //hairs
      this.load.image('hair1', "http://localhost:8000/media/images/1HAIR.png")
  
      //tops

  
      //bottoms
      //추후추가

  
      //shoes
      //추후추가

  
  
      //weapons
      //추후추가
    
  
      //UI
      this.load.image('back', "{% static '/resource/ui/back2.png'%}");
      this.load.image('box', "{% static '/resource/ui/character/box.png'%}");
      this.load.image('box1', "{% static '/resource/ui/character/box1.png'%}");
      this.load.image('faceui', "{% static '/resource/ui/character/얼굴밝기조절.png'%}");
      this.load.image('hairui', "{% static '/resource/ui/character/헤어스타일.png'%}");
      this.load.image('colourui', "{% static '/resource/ui/character/헤어컬러.png'%}");
      this.load.image('topui', "{% static '/resource/ui/character/상의.png'%}");
      this.load.image('bottomui', "{% static '/resource/ui/character/하의.png'%}");
      this.load.image('setui', "{% static '/resource/ui/character/세트.png'%}");
      this.load.image('accessoryui', "{% static '/resource/ui/character/액세사리.png'%}");
      this.load.image('shoesui', "{% static '/resource/ui/character/신발.png'%}");
      this.load.image('selectui', "{% static '/resource/ui/character/확정.png'%}");
  
  }
  
  


  function create ()
  {
      player = this.physics.add.staticGroup();
      btn = this.physics.add.staticGroup();
      ui = this.physics.add.staticGroup();
      box = this.physics.add.staticGroup();
      hairs = this.physics.add.staticGroup();
      tops = this.physics.add.staticGroup();

        skills = this.physics.add.staticGroup();
        ui = this.physics.add.staticGroup();

  
      this.add.image(150,300,'bg');
      this.add.image(100,300,'bg1').setScale(0.3);
      box = this.add.image(150,550,'box').setInteractive({cursor:'pointer', draggable: true});
      back = this.add.image(30,30,'back').setInteractive({cursor:'pointer'});

        back.on('pointerover', function(event){
            this.setTint(0x50bcdf)
        })
        back.on('pointerout', function(event){
            this.clearTint()
        })
        back.on('pointerdown', function(event){
            location.replace('http://localhost:8000/mainapp/main')
        })




     //BTN 
     faceui = btn.create(100,100, 'faceui').setInteractive();
     hairui = btn.create(250,150, 'hairui').setInteractive();
     colourui = btn.create(250,190, 'colourui').setInteractive();
     topui = btn.create(250,230, 'topui').setInteractive();
     bottomui = btn.create(250,270, 'bottomui').setInteractive();
     setui = btn.create(250,310, 'setui').setInteractive();
     accessoryui = btn.create(250,350, 'accessoryui').setInteractive();
     shoesui = btn.create(250,390, 'shoesui').setInteractive();
     selectui = btn.create(250,450, 'selectui').setScale(0.9).setInteractive();
     btnui = [faceui, hairui, colourui, topui, bottomui, setui, accessoryui, shoesui];

     
      //아이템창
      box_x = 40
      box1 = ui.create(box_x,545, 'box1').setScale(0.8).setInteractive();
      box2 = ui.create(box_x+80,545, 'box1').setScale(0.8).setInteractive();
      box3 = ui.create(box_x+160,545, 'box1').setScale(0.8).setInteractive();
      box4 = ui.create(box_x+240,545, 'box1').setScale(0.8).setInteractive();
      box5 = ui.create(box_x+320,545, 'box1').setScale(0.8).setInteractive();

      box1.setScrollFactor(1);

      this.input.on('drag', function (pointer, gameObject, dragX, dragY) {

        gameObject.x = dragX;
        gameObject.y = dragY;

      });

      //헤어 미리보기
      minihair1 = hairs.create(box1.x,box1.y, 'hair1').setScale(0.7).setInteractive();
      minihair2 = hairs.create(box2.x,box2.y, 'hair2').setScale(0.7).setInteractive();
      minihair3 = hairs.create(box3.x,box3.y, 'hair3').setScale(0.7).setInteractive();
      minihair4 = hairs.create(box4.x,box4.y, 'hair4').setScale(0.7).setInteractive();
      minihair5 = hairs.create(box5.x,box5.y, 'hair5').setScale(0.7).setInteractive();
      minihair = [minihair1, minihair2, minihair3, minihair4, minihair5];

      minihair1.visible = false
      minihair2.visible = false
      minihair3.visible = false
      minihair4.visible = false
      minihair5.visible = false

      //상의 미리보기
      minitop1 = tops.create(box1.x,box1.y, 'top1').setScale(0.7).setInteractive();
      minitop2 = tops.create(box2.x,box2.y, 'top2').setScale(0.7).setInteractive();
      minitop3 = tops.create(box3.x,box3.y, 'top3').setScale(0.7).setInteractive();
      minitop4 = tops.create(box4.x,box4.y, 'top4').setScale(0.7).setInteractive();
      minitop5 = tops.create(box5.x,box5.y, 'top5').setScale(0.7).setInteractive();
      var minitop = [minitop1, minitop2, minitop3, minitop4, minitop5];

      minitop1.visible = false
      minitop2.visible = false
      minitop3.visible = false
      minitop4.visible = false
      minitop5.visible = false


      //player
      x = 100;
      y = 300;
      //leftleg = this.add.sprite(x-10, y+30, 'leg').setScale(0.7);
      //rightleg = this.add.sprite(x+10, y+30, 'leg').setScale(0.7);
      //body = this.add.sprite(x, y, 'body').setScale(0.7);
      face = this.add.sprite(x, y-50, 'face').setScale(0.7);
      hair = this.add.sprite(x, y-60, 'hair').setScale(0.7);
      helmet = this.add.sprite(x+2, y-65, 'helmet').setScale(0.7);
      //shield = this.add.sprite(x-50, y, 'shield').setScale(0.7);
      //weapon = this.add.sprite(x+40, y-10, 'weapon').setScale(0.7);
      sword.angle += 30;



    helmettween = this.tweens.add({
        targets: helmet,
        y: 225,
        paused: false,
        yoyo: true,
        repeat: -1
    });


    headtween = this.tweens.add({
        targets: head,
        y: 245,
        paused: false,
        yoyo: true,
        repeat: -1
    });

    swordtween = this.tweens.add({
    targets: sword,
    angle: 40,
    paused: false,
    yoyo: true,
    repeat: -1
    });

    shieldtween = this.tweens.add({
        targets: shield,
        y: 290,
        paused: false,
        yoyo: true,
        repeat: -1
    });



    this.input.on('gameobjectdown', function(pointer, gameObject){

        if(gameObject==faceui){choicetype(faceui, btnui); menuOptions(0);}
        if(gameObject==hairui){choicetype(hairui, btnui); menuOptions(1);}
        if(gameObject==colourui){choicetype(colourui, btnui); menuOptions(2);}
        if(gameObject==topui){choicetype(topui, btnui); menuOptions(3);}
        if(gameObject==bottomui){choicetype(bottomui, btnui); menuOptions(4);}
        if(gameObject==setui){choicetype(setui, btnui); menuOptions(5);}
        if(gameObject==accessoryui){choicetype(accessoryui, btnui); menuOptions(6);}
        if(gameObject==shoesui){choicetype(shoesui, btnui); menuOptions(7);}

        if(gameObject==minihair1){helmet.setTexture('hair1')}
        if(gameObject==minihair2){helmet.setTexture('hair2')}
        if(gameObject==minihair3){helmet.setTexture('hair3')}
        if(gameObject==minihair4){helmet.setTexture('hair4')}
        if(gameObject==minihair5){helmet.setTexture('hair5')}
        if(gameObject==minitop1){body.setTexture('top1')};
        if(gameObject==minitop2){body.setTexture('top2')}
        if(gameObject==minitop3){body.setTexture('top3')}
        if(gameObject==minitop4){body.setTexture('top4')}
        if(gameObject==minitop5){body.setTexture('top5')}

    })

    //아이템창 드래그
    {% comment %} box.on('drag', function (pointer, gameObject, dragX, dragY) {

        box1.x = 40 + dragX;
        box2.x = 120 + dragX;
        box3.x = 200 + dragX;
        box4.x = 240 + dragX;
        box5.x = 280 + dragX;
    })  {% endcomment %}

    function choicetype(icon, array){
        for(var i=0;i<array.length;i++){
            icon.setTint(0x50bcdf);
            if(icon!=array[i]){
                array[i].clearTint();
            }
        }
    } 

    
    function menuOptions(num){
    
    if(num==0){ };
    if(num==1){
        for(var i=0;i<minihair.length;i++){
            minihair[i].visible = true
        }
        for(var i=0;i<minitop.length;i++){
            minitop[i].visible = false
        }
    };
    if(num==2){

    };
    if(num==3){
        for(var i=0;i<minihair.length;i++){
            minihair[i].visible = false
        }
        for(var i=0;i<minitop.length;i++){
            minitop[i].visible = true
        }
    };
    if(num==4){};
    if(num==5){};
    if(num==6){};
    if(num==7){};
    }

    function selection(icon, array){
        for(var i=0;i<array.length;i++){
            if(icon==array[i]){
                array[i].visible = true
                console.log(array[i])
            }
            else{
                array[i].visible = false
            }
        }

    }


}

  //end create
  






  //Game Main
  function update ()
  { 
    
  }
  
  
  
  var config = {
    type: Phaser.AUTO,
    width: 300,
    height: 600,
    physics: {
        default: 'arcade',
        arcade: {
            debug: false,
            gravity: {
                y: 0
            }
        }
    },
    backgroundColor: '#2d2d2d',
    scene: {
      preload: preload,
      create: create,
      update:update,
    },
    scale: {
        mode: Phaser.Scale.ScaleModes.FIT
    }
  }
  var game =  new Phaser.Game(config)
</script>
{% endblock script %}