{% extends 'base.html' %}
{% load static %}


{% comment %} {% block style %}
<link rel="stylesheet" href="{% static 'libs/cute-alert/style.css' %}" type="text/css" />
{% endblock style %} {% endcomment %}

{% block content %}
<div class="container position-relative h-100 w-100">
  {% include 'core/components/back-button.html' %}
  <div class="my-5 text-center">
    <h1>GAME ROOM</h1>
  </div>

  <div class="">
    <div class="form-outline">
      <input id="room-name-input" type="text" placeholder="room name"  class="form-control form-control-lg border text-center"></input>
    </div>
    <button id="btn" class="btn text-white fs-5 px-5 w-100" style="background-color: #ac2bac;" role="button">ENTER</button>
  </div>
</div>

<script>
  document.querySelector("#btn").addEventListener('click', () => {
    const room_name = document.querySelector('#room-name-input').value;
    window.location.href = `/mainapp/room/wait/${room_name}`
  });
{% comment %} 
  window.onload = function() {
    cuteAlert({
      type: "success",
      title: "GAME END",
      message: 'asfsd',
      img: `<img src='/static/icons/youtube.png'/>`,
      buttonText: "NEXT",
    }).then(() => {
      window.location.href = `/mainapp/result?left_eye=${left_skill_count}&right_eye=${right_skill_count}&mouth=${mouth_skill_count}`;
    });
  } {% endcomment %}
</script>

{% comment %} <script src="{% static "libs/cute-alert/cute-alert.js" %}"></script> {% endcomment %}

{% endblock content %}