{% extends "base.html" %}
{%load static%}
{% block script %}
<script src={% static 'js/window.js' %}></script>
<script>
    let achieveData;
    let achieveUser;
    let dic_onoff = -1; // dic panel을 관리하기위한 전역변수
    let achievement_onoff = -1; // achievement panel을 관리하기위한 전역변수
    let name
    let profile
      async function preload(){
        this.load.scenePlugin({
          key: 'rexuiplugin',
          url: 'https://raw.githubusercontent.com/rexrainbow/phaser3-rex-notes/master/dist/rexuiplugin.min.js',
          sceneKey: 'rexUI'
        })
        // resource load
        this.load.image('panel', "{% static '/resource/ui/background.jpg'%}")
        this.load.image('sound_on', "{% static '/resource/ui/main/musicOn.png'%}")
        this.load.image('sound_off', "{% static '/resource/ui/main/musicOff.png'%}")
        this.load.audio('title_music', "{% static '/resource/bgm/title_music.mp3'%}")

        await fetch('http://localhost:8000/core/api/user')
          .then(res=>res.json())
          .then((data)=>{
            name = String(data.username)
            profile = data.profile_image
           })

        this.load.image('profile_image', profile)

      }
      
      async function create(){ 
        
        this.bgm = this.sound.play("title_music", {loop:true})
        this.add.image(35,35,'profile_image').setInteractive({cursor:'pointer'})
        let circle = this.add.circle(35,35,25)

        // 각종 UI 배치

        var chr = this.rexUI.add.roundRectangle(window_width/2,130,210,100,7,0xD9D9D9).setInteractive({cursor:'pointer'})
        this.add.text(window_width/2-(window_width*0.09), 120, '캐릭터', {color:'black', font:'450 20px Arial'})

        var dic = this.rexUI.add.roundRectangle(60,220,100,43,7,0xD9D9D9).setInteractive({cursor:'pointer'})
        this.add.text(28, 212, '백과사전', {color:'black', font:'450 16px Arial'})

        var achievement = this.rexUI.add.roundRectangle(60,270,100,43,7,0xD9D9D9).setInteractive({cursor:'pointer'})
        this.add.text(43, 262, '업적', {color:'black', font:'450 16px Arial'})

        var start = this.add.circle(window_width-70,window_height-70,50,50, 0x616161).setInteractive({cursor:'pointer'})
        this.add.text(window_width-113, window_height-80, '게임 시작', {color:'black', font:'450 20px Arial'})

        var store = this.add.circle(window_width-45,window_height-170,35,35,0xD9D9D9).setInteractive({cursor:'pointer'})
        this.add.text(window_width-60, window_height-180, '상점', {color:'black', font:'450 16px Arial'})

        var skills = this.add.circle(window_width-140,window_height-140,35,35,0xD9D9D9).setInteractive({cursor:'pointer'})
        this.add.text(window_width-155, window_height-150, '스킬', {color:'black', font:'450 16px Arial'})

        var analysis = this.add.circle(window_width-170,window_height-45,35,35,0xD9D9D9).setInteractive({cursor:'pointer'})
        this.add.text(window_width-185, window_height-55, '분석', {color:'black', font:'450 16px Arial'})

        var namespace = this.rexUI.add.roundRectangle(window_width/2,30,170,40,3,0xB8DEEA)

        let sound_off = this.add.image(window_width-30,30,'sound_off').setInteractive({cursor:'pointer'})
        let sound_on = this.add.image(window_width-30,30,'sound_on').setInteractive({cursor:'pointer'})
        let panel1 = this.add.image(-150,300,'panel').setScale(0.7).setInteractive({cursor:'pointer'})
        let panel2 = this.add.image(-150,300,'panel').setScale(0.7).setInteractive({cursor:'pointer'})
        
        circle.setStrokeStyle(2,0x868686)
        panel1.alpha = 0.7
        panel2.alpha = 0.7
        
        // 새로고침, 페이지 이동, 재접속 등 환경이 변경되었을때 bgm의 상태를 유지하기 위하여 localstorage에 상태를 저장
        if(localStorage.getItem('bgm')==null){ 
          this.bgm = this.sound.play("title_music", {loop:true})
          sound_off.visible = false
          sound_on.visible = true
          localStorage.setItem("bgm", 'true')
        }
        else if(localStorage.getItem('bgm')=='true'){ 
          this.bgm = this.sound.play("title_music", {loop:true})
          sound_off.visible = false
          sound_on.visible = true
        }
        else if(localStorage.getItem('bgm')=='false'){
          game.sound.mute = true
          sound_off.visible = true
          sound_on.visible = false
        }

        // username을 DB에서 fetch를 통해 불러온다.
        this.username = this.add.text(
          window_width/2-(window_width*0.045),
          20,
          name,
          {
            color:'black',
            font:'550 20px Poppins',
          }
        )
        await fetch('http://localhost:8000/core/api/achievement')
        .then(res=>res.json())
        .then((data)=>{achieveData=data
        })

        await fetch('http://localhost:8000/core/api/achieveuser')
        .then(res=>res.json())
        .then((data)=>{achieveUser=data
        })

        // 각 UI 이벤트 할당

        store.on('pointerover', function(event){
          this.setFillStyle(0x50bcdf)
        })
        store.on('pointerout', function(event){
          this.setFillStyle(0xD9D9D9)
        })
        store.on('pointerdown', function(event){
          location.replace('http://localhost:8000/mainapp/store')
        })

        skills.on('pointerover', function(event){
          this.setFillStyle(0x50bcdf)
        })
        skills.on('pointerout', function(event){
          this.setFillStyle(0xD9D9D9)
        })
        skills.on('pointerdown', function(event){
          location.replace('http://localhost:8000/mainapp/skills')
        })

        analysis.on('pointerover', function(event){
          this.setFillStyle(0x50bcdf)
        })
        analysis.on('pointerout', function(event){
          this.setFillStyle(0xD9D9D9)
        })
        analysis.on('pointerdown', function(event){
          location.replace('http://localhost:8000/mainapp/analysis')
        })
        
        chr.on('pointerover', function(event){
          this.setFillStyle(0x50bcdf)
        })
        chr.on('pointerout', function(event){
          this.setFillStyle(0xD9D9D9)
        })
        chr.on('pointerdown', function(event){
          location.replace('http://localhost:8000/mainapp/character')
        })

        start.on('pointerover', function(event){
          this.setFillStyle(0x50bcdf)
        })
        start.on('pointerout', function(event){
          this.setFillStyle(0xD9D9D9)
        })
        start.on('pointerdown', function(event){
          location.replace('http://localhost:8000/mainapp/start')
        })

        dic.on('pointerover', function(event){
          this.setFillStyle(0x50bcdf)
        })
        dic.on('pointerout', function(event){
          this.setFillStyle(0xD9D9D9)
        })
        dic.on('pointerdown', function(event){
          if(achievement_onoff==1){
            panel2.setX(-150)
            achievement_onoff=-1
            panel1.setX(window_width/2)
            dic_onoff=1
          }
          else if(dic_onoff==1){
            panel1.setX(-150)
            dic_onoff=-1
          }
          else{
            panel1.setX(window_width/2)
            dic_onoff=1
          }
        })

        achievement.on('pointerover', function(event){
          this.setFillStyle(0x50bcdf)
        })
        achievement.on('pointerout', function(event){
          this.setFillStyle(0xD9D9D9)
        })
        achievement.on('pointerdown', function(event){
          if(dic_onoff==1){
            panel1.setX(-150)
            dic_onoff=-1
            panel2.setX(window_width/2)
            achievement_onoff=1
          }
          else if(achievement_onoff==1){
            panel2.setX(-150)
            achievement_onoff=-1
          }
          else{
            panel2.setX(window_width/2)
            achievement_onoff=1
          }
        })

        sound_on.on('pointerdown', function(event){
          game.sound.mute = true
          sound_on.visible = false
          sound_off.visible = true
          localStorage.setItem("bgm", 'false')
        })
        sound_off.on('pointerdown', function(event){
          game.sound.mute = false
          sound_on.visible = true
          sound_off.visible = false
          localStorage.setItem("bgm", 'true')
        })


        // object에서 마우스가 벗어났을때 작동하는 코드
       
        this.input.setTopOnly(true)
      }

      function update(){
      }
      
      let config = {
        type: Phaser.AUTO,
        width: window_width,
        height: window_height,
        backgroundColor:'#ffffff',
        scene: {
          preload: preload,
          create: create,
          update:update,
        },
        scale: {
            mode: Phaser.Scale.FIT,
            autoCenter: Phaser.Scale.CENTER_BOTH,
        },
        pixelArt: false,
        render:{
          antialias: true
        },
      }
      let game =  new Phaser.Game(config)
</script>
{% endblock script %}
