{% extends "base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'js/window.js' %}"></script>
<script src="{% static 'js/font-size.js' %}"></script>


<script>

</script>
{% endblock script %}

{% block content %}
<div id="room_id"></div>
<a id="room_a" href="">방 이동</a>

<script>
  function uuidv4() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }

  let room_no = document.querySelector('#room_id');
  room_no.innerText = uuidv4();

  let room_a = document.querySelector('#room_a');
  // room_a.href = `/mainapp/${room_no.innerText}`
  room_a.href = `/mainapp/room/lobby/`
</script>
{% endblock content %}

