{% extends "base.html" %}
{%load static%}
{% block script %} 
<script>
    const COLOR_PRIMARY = 0xF5F5F5;
    const COLOR_LIGHT = 0xD0CCCC;
    const COLOR_DARK = 0x260e04;

    var createPanel = function (scene, data, state) {
        var sizer = scene.rexUI.add.sizer({
            orientation: 'y',
            space: { item: 10 }
        })
            .add(
                createTable(scene, data, state, 3), // child
                { expand: true }
            ) 
        return sizer;
    }

    var createTable = function (scene, data, key, columns) {
        var capKey = key.charAt(0).toUpperCase() + key.slice(1);
        var title = scene.rexUI.add.label({
            orientation: 'x',
            text: scene.add.text(0, 0, capKey, {color:'black'}),
        });
    
        var items = data[key];
        var rows = Math.ceil(items.length / columns);
        var table = scene.rexUI.add.gridSizer({
            column: columns,
            row: rows,
    
            rowProportions: 1,
            space: { column: 10, row: 10 },
            name: key  // Search this name to get table back
        });
    
        var item, r, c;
        var iconSize = 70;
        for (var i = 0, cnt = items.length; i < cnt; i++) {
            item = items[i];
            r = i % columns;
            c = (i - r) / columns;
            table.add(
                createIcon(scene, item, iconSize, iconSize),
                r,
                c,
                'top',
                0,
                true
            );
        }
    
        return scene.rexUI.add.sizer({
            orientation: 'y',
            space: { left: 15, right: 10, top: 10, bottom: 10, item: 10 }
        })
            .addBackground(
                scene.rexUI.add.roundRectangle(0, 0, 0, 0, 0, undefined).setStrokeStyle(2, COLOR_LIGHT, 1)
            )
            .add(
                title, // child
                0, // proportion
                'left', // align
                0, // paddingConfig
                true // expand
            )
            .add(table, // child
                1, // proportion
                'center', // align
                0, // paddingConfig
                true // expand
            );
    }
    
    var createIcon = function (scene, item, iconWidth, iconHeight) {
        var label = scene.rexUI.add.label({
            orientation: 'y',
            icon: scene.rexUI.add.roundRectangle(0, 0, iconWidth, iconHeight, 5, COLOR_LIGHT),
            text: scene.add.text(0, 0, item.name, {color:'black'}),
    
            space: { top: 10, icon: 10}
        });
    
        return label;
    };


    function preload(){

        //skills
        this.load.image('skill1', "{% static '/resource/ui/skills/skills/skill1.png'%}")
        this.load.image('skill2', "{% static '/resource/ui/skills/skills/skill2.png'%}")
        this.load.image('skill3', "{% static '/resource/ui/skills/skills/skill3.png'%}")
        this.load.image('skill4', "{% static '/resource/ui/skills/skills/skill4.png'%}")
        this.load.image('skill5', "{% static '/resource/ui/skills/skills/skill5.png'%}")
        this.load.image('skill6', "{% static '/resource/ui/skills/skills/skill6.png'%}")

        //ui
        this.load.image('back', "{% static '/resource/ui/back2.png'%}")
        this.load.image('background', "{% static '/resource/ui/background.jpg'%}")
        this.load.image('bg2', "{% static '/resource/ui/bg2.png'%}")
        this.load.image('eyeui', "{% static '/resource/ui/skills/ui/눈.png'%}")
        this.load.image('noseui', "{% static '/resource/ui/skills/ui/코.png'%}")
        this.load.image('mouthui', "{% static '/resource/ui/skills/ui/입.png'%}")
        this.load.image('Rect', "{% static '/resource/ui/skills/ui/Rect.png'%}")

    }

    function create(){

        var data = {
            name: 'Rex',
            skills: [
                { name: 'A' },
                { name: 'B' },
                { name: 'C' },
                { name: 'D' },
                { name: 'E' },
                { name: 'F' },
            ],

        };




        skills = this.physics.add.staticGroup();
        ui = this.physics.add.staticGroup();
        

        this.add.image(150,300,'background');
        this.add.image(150,300,'bg2').setScale(0.35);
        back = this.add.image(30,30,'back').setInteractive({cursor:'pointer'});

        back.on('pointerover', function(event){
            this.setTint(0x50bcdf)
        })
        back.on('pointerout', function(event){
            this.clearTint()
        })
        back.on('pointerdown', function(event){
            location.replace('http://localhost:8000/mainapp/main')
        })

        eyeui = ui.create(65,520, 'eyeui').setScale(0.35).setInteractive();
        noseui = ui.create(150,520, 'noseui').setScale(0.35).setInteractive();
        mouthui = ui.create(235,520, 'mouthui').setScale(0.35).setInteractive();
        typeui = [eyeui, noseui, mouthui];

        skill1 = skills.create(80,350, 'skill1').setScale(0.7).setInteractive();
        skill2 = skills.create(150,350, 'skill2').setScale(0.7).setInteractive();
        skill3 = skills.create(220,350, 'skill3').setScale(0.7).setInteractive();
        skill4 = skills.create(80,430, 'skill4').setScale(0.7).setInteractive();
        skill5 = skills.create(150,430, 'skill5').setScale(0.7).setInteractive();
        skill6 = skills.create(220,430, 'skill6').setScale(0.7).setInteractive();
        s = [skill1, skill2, skill3, skill4, skill5, skill6];
        all = [s,s,s]

        EyeSkill = this.add.image(80, 350, 'Rect').setScale(0.9);
        NoseSkill = this.add.image(80, 350, 'Rect').setScale(0.9);
        MouthSkill = this.add.image(80, 350, 'Rect').setScale(0.9);

        EyeSkill.visible = false
        NoseSkill.visible = false
        MouthSkill.visible = false

        this.input.on('gameobjectdown', function(pointer, gameObject){
            if(gameObject==eyeui){choicetype(eyeui, typeui)}
            if(gameObject==noseui){choicetype(noseui, typeui)}
            if(gameObject==mouthui){choicetype(mouthui, typeui)}
        })

        var hairPanel = this.rexUI.add.scrollablePanel({
            x: 150,
            y: 400,
            width: 280,
            height: 600,
            scrollMode: 0,

            background: this.rexUI.add.roundRectangle(0, 0, 0, 0, 0, 0xffffff),

            panel: {
                child: createPanel(this, data, 'hair'),
                mask: {
                    padding: 0,
                    // layer: this.add.layer()
                },
            },
      
            // scroller: true,
            scroller: {
                // pointerOutRelease: false
            },
      
            mouseWheelScroller: {
                focus: false,
                speed: 0.1
            },

            space: {
                left: 10,
                right: 10,
                top: 10,
                bottom: 10,
                panel: 10,
                // slider: { left: 30, right: 30 },
            }
        }).layout()


        function choicetype(icon, array){
            for(var i=0;i<array.length;i++){
                icon.setTint(0x50bcdf);
                if(icon!=array[i]){
                    array[i].clearTint();
                }
            }
        } 

        function choiceskill(icon, array){
            if (eyeui.isTinted == true){

            }
        }




    }

    


    function update(){
        skill1.on('pointerup', function (event){Rect.setPosition(skill1.x, skill1.y);});
        skill2.on('pointerup', function (event){Rect.setPosition(skill2.x, skill2.y);});
        skill3.on('pointerup', function (event){Rect.setPosition(skill3.x, skill3.y);});
        skill4.on('pointerup', function (event){Rect.setPosition(skill4.x, skill4.y);});
        skill5.on('pointerup', function (event){Rect.setPosition(skill5.x, skill5.y);});
        skill6.on('pointerup', function (event){Rect.setPosition(skill6.x, skill6.y);});
    }

 
    var config = {
        type: Phaser.AUTO,
        width: 300,
        height: 600,
        physics: {
            default: 'arcade',
            arcade: {
                debug: false,
                gravity: {
                    y: 0
                }
            }
        },
        backgroundColor: '#2d2d2d',
        scene: {
          preload: preload,
          create: create,
          update:update,
        },
        scale: {
            mode: Phaser.Scale.ScaleModes.FIT
        }
      }
      var game =  new Phaser.Game(config)
</script>
{% endblock script %}
