{% extends "base.html" %}
{%load static%}
{% block script %} 
<script>
    function preload(){
        this.load.image('back', "{% static '/uiux/ui/back.png'%}")
        this.load.image('background', "{% static '/uiux/ui/background.jpg'%}")
    }
    function create(){
        this.add.image(150,300,'background')
        var back = this.add.image(30,30,'back').setScale(0.3).setInteractive({cursor:'pointer'})

        back.on('pointerover', function(event){
            this.setTint(0x50bcdf)
        })
        back.on('pointerout', function(event){
            this.clearTint()
        })
        back.on('pointerdown', function(event){
            location.replace('http://localhost:8000/mainapp/main')
        })
    }
    function update(){

    }

    var config = {
        type: Phaser.AUTO,
        width: 300,
        height: 600,
        physics: {
            default: 'arcade',
            arcade: {
                debug: false,
                gravity: {
                    y: 0
                }
            }
        },
        backgroundColor: '#2d2d2d',
        scene: {
          preload: preload,
          create: create,
          update:update,
        },
        scale: {
            mode: Phaser.Scale.ScaleModes.FIT
        }
      }
      var game =  new Phaser.Game(config)
</script>
{% endblock script %}
