{% extends "base.html" %}
{%load static%}
{% block script %} 
<script>
function preload() {
    this.load.image('0HAIR', "{% static '/resource/images/0HAIR.png'%}")
    this.load.image('0HEAD EYES OPEN', "{% static '/resource/images/0HEAD EYES OPEN.png'%}")
    this.load.image('1ARM A1', "{% static '/resource/images/1ARM A1.png'%}")
    this.load.image('1ARM A2', "{% static '/resource/images/1ARM A2.png'%}")
    this.load.image('1ARM A3', "{% static '/resource/images/1ARM A3.png'%}")
    this.load.image('1ARM B1', "{% static '/resource/images/1ARM B1.png'%}")
    this.load.image('1ARM B2', "{% static '/resource/images/1ARM B2.png'%}")

    
}


function create() {
    
    this.add.image(150,300,'0HEAD EYES OPEN');
    this.add.image(150,285,'0HAIR');
    this.add.image(150,400,'1ARM A1');
    this.add.image(150,450,'1ARM A2');
    this.add.image(150,500,'1ARM A3');
}

function update () {

}

var config = {
    type: Phaser.AUTO,
    width: 300,
    height: 600,
    physics: {
        default: 'arcade',
        arcade: {
            debug: false,
            gravity: {
                y: 0
            }
        }
    },
    backgroundColor: '#2d2d2d',
    scene: {
      preload: preload,
      create: create,
      update:update,
    },
    scale: {
        mode: Phaser.Scale.ScaleModes.FIT
    }
  }
  var game =  new Phaser.Game(config)
</script>
{% endblock script %}